.projects-container{
    padding: 25px;
    @media screen and (max-width: 500px) {
padding: 0;
        
		  }
}
.project-items{
    padding-top: 100px;
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}