.project-container{
    background-color: rgb(29, 28, 28);

    padding: 15px;
    border-radius: 30px;
    // position: relative;
    box-sizing: border-box;
    max-width: 430px;
    @media screen and (max-width: 500px) {
		display: flex;
        flex-direction: column;
        align-items: center;
        
		  }
}
.project-img{
    max-width: 400px;
    max-height: 250px;
    background-color: aqua;
    @media screen and (max-width: 500px) {
		max-width: 250px;
        
		  }
}

.project-title{
font-size: 14px;

 
}

.project-buttons{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

a{
    text-decoration: none;
    color: #FFFFFF;
}











.button-48 {
    appearance: none;
    background-color: #ffffff00;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: Clarkson,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1em;
    margin: 0;
    opacity: 1;
    outline: 1;
    padding: 1.5em 2.2em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-rendering: geometricprecision;
    text-transform: uppercase;
    transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
    // left: 35%;
    // top: 30%;
  }
  
  .button-48:before {
    animation: opacityFallbackOut .5s step-end forwards;
    backface-visibility: hidden;
    background-color: rgba(95, 67, 67, 0.212);
    clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: translateZ(0);
    transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
    width: 100%;
  }
  
  .button-48:hover:before {
    animation: opacityFallbackIn 0s step-start forwards;
    clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
  }
  
  .button-48:after {
    background-color: #FFFFFF;
  }
  
  .button-48 span {
    z-index: 1;
    position: relative;
  }